<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>XXThuong_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,0},{192,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,38},{192,189}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,0},{201,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,36},{201,197}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,805},{222,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,28},{222,216}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,795},{227,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,23},{227,227}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,518},{239,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,14},{239,243}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,260},{238,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,10},{238,249}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,0},{241,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,8},{241,259}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,10},{256,257}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,540},{256,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,14},{256,258}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{258,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,6},{258,267}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,270},{255,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,6},{255,267}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,272},{250,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,6},{250,259}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,538},{254,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,5},{254,266}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,0},{253,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,3},{253,271}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{258,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,2},{258,271}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,269},{253,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,3},{253,270}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,0},{253,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,3},{253,268}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,0},{255,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,2},{255,269}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,540},{243,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,6},{243,260}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,260},{240,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,5},{240,257}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,540},{244,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,8},{244,254}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,762},{239,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,15},{239,243}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{231,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,26},{231,225}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,799},{231,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,28},{231,219}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,801},{216,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,33},{216,204}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

			<key>XXThuong_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,510},{192,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,38},{192,189}}</string>
				<key>sourceSize</key>
				<string>{282,282}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>diceAtlas.png</string>
			</dict>
		</dict>
</plist>