<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,0},{245,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,64}}</string>
				<key>sourceSize</key>
				<string>{245,64}</string>
			</dict>

			<key>ItemAn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,65},{163,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,161}}</string>
				<key>sourceSize</key>
				<string>{163,161}</string>
			</dict>

			<key>bg_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,848},{84,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,41}}</string>
				<key>sourceSize</key>
				<string>{84,41}</string>
			</dict>

			<key>bg_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,342},{339,505}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,505}}</string>
				<key>sourceSize</key>
				<string>{339,505}</string>
			</dict>

			<key>bg_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,453},{172,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,60}}</string>
				<key>sourceSize</key>
				<string>{172,60}</string>
			</dict>

			<key>bg_dia.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,0},{301,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,302}}</string>
				<key>sourceSize</key>
				<string>{301,302}</string>
			</dict>

			<key>bg_mes.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,922},{302,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,68}}</string>
				<key>sourceSize</key>
				<string>{302,68}</string>
			</dict>

			<key>bg_mo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{737,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{737,39}}</string>
				<key>sourceSize</key>
				<string>{738,39}</string>
			</dict>

			<key>bg_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,885},{380,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,36}}</string>
				<key>sourceSize</key>
				<string>{380,36}</string>
			</dict>

			<key>bg_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,764},{385,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,120}}</string>
				<key>sourceSize</key>
				<string>{385,120}</string>
			</dict>

			<key>boder_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,622},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,26}}</string>
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,386},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,36}}</string>
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>

			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,512},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,67}}</string>
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>

			<key>btn_chon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,453},{110,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,42}}</string>
				<key>sourceSize</key>
				<string>{110,42}</string>
			</dict>

			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,681},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,70}}</string>
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>

			<key>btn_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,758},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,67}}</string>
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>

			<key>btn_close_minigame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,89},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,27}}</string>
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>

			<key>btn_cuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,0},{93,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,65}}</string>
				<key>sourceSize</key>
				<string>{93,65}</string>
			</dict>

			<key>btn_cuoc_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,66},{93,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,65}}</string>
				<key>sourceSize</key>
				<string>{93,65}</string>
			</dict>

			<key>btn_dat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,368},{140,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,69}}</string>
				<key>sourceSize</key>
				<string>{140,69}</string>
			</dict>

			<key>btn_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,899},{184,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{184,69}}</string>
				<key>sourceSize</key>
				<string>{191,75}</string>
			</dict>

			<key>btn_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,918},{159,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,69}}</string>
				<key>sourceSize</key>
				<string>{159,69}</string>
			</dict>

			<key>btn_dongy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,669},{110,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,42}}</string>
				<key>sourceSize</key>
				<string>{110,42}</string>
			</dict>

			<key>btn_dung.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,0},{122,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,53}}</string>
				<key>sourceSize</key>
				<string>{122,53}</string>
			</dict>

			<key>btn_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,0},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,67}}</string>
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>

			<key>btn_huy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,788},{110,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,42}}</string>
				<key>sourceSize</key>
				<string>{110,42}</string>
			</dict>

			<key>btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,826},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,67}}</string>
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>

			<key>btn_menu_VQMM.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,831},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>

			<key>btn_menu_active_VQMM.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,277},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>

			<key>btn_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,758},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,67}}</string>
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>

			<key>btn_nan_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,527},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,67}}</string>
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>

			<key>btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,181},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,36}}</string>
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>

			<key>btn_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,642},{70,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,38}}</string>
				<key>sourceSize</key>
				<string>{70,38}</string>
			</dict>

			<key>btn_quay_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,848},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,69}}</string>
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>

			<key>btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,991},{50,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,32}}</string>
				<key>sourceSize</key>
				<string>{50,32}</string>
			</dict>

			<key>btn_sieutoc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,227},{145,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,69}}</string>
				<key>sourceSize</key>
				<string>{145,69}</string>
			</dict>

			<key>btn_sieutoc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,514},{145,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,69}}</string>
				<key>sourceSize</key>
				<string>{145,69}</string>
			</dict>

			<key>btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,272},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>btn_spin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,386},{65,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,125}}</string>
				<key>sourceSize</key>
				<string>{65,125}</string>
			</dict>

			<key>btn_spin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,89},{65,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,112}}</string>
				<key>sourceSize</key>
				<string>{65,112}</string>
			</dict>

			<key>btn_spin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,297},{65,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,88}}</string>
				<key>sourceSize</key>
				<string>{65,88}</string>
			</dict>

			<key>btn_spin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,920},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,65}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>

			<key>btn_spin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,595},{65,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,110}}</string>
				<key>sourceSize</key>
				<string>{65,110}</string>
			</dict>

			<key>btn_spin_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,65},{205,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,206}}</string>
				<key>sourceSize</key>
				<string>{205,206}</string>
			</dict>

			<key>btn_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,969},{125,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,37}}</string>
				<key>sourceSize</key>
				<string>{125,37}</string>
			</dict>

			<key>btn_thanhtich.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,202},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,67}}</string>
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>

			<key>btn_thongke.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,209},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,67}}</string>
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>

			<key>btn_tuquay.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,221},{145,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{145,69}}</string>
				<key>sourceSize</key>
				<string>{152,75}</string>
			</dict>

			<key>btn_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,227},{125,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,37}}</string>
				<key>sourceSize</key>
				<string>{125,37}</string>
			</dict>

			<key>btn_xoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,297},{141,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,70}}</string>
				<key>sourceSize</key>
				<string>{141,70}</string>
			</dict>

			<key>culu.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,991},{70,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,32}}</string>
				<key>sourceSize</key>
				<string>{70,32}</string>
			</dict>

			<key>doiJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,988},{124,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,35}}</string>
				<key>sourceSize</key>
				<string>{124,35}</string>
			</dict>

			<key>dot_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,882},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,23}}</string>
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>

			<key>effect_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,303},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,301}</string>
			</dict>

			<key>icon_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,882},{27,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,21}}</string>
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>

			<key>icon_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,906},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,12}}</string>
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>

			<key>icon_checkbox_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,595},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,26}}</string>
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>

			<key>icon_checkbox_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,272},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,26}}</string>
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>

			<key>icon_dice1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1681,402},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{60,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>icon_dice2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,68},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{60,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>icon_dice3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,706},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{60,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>icon_dice4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1681,341},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{60,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>icon_dice5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,894},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{60,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>icon_dice6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,129},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{60,60}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>icon_huTien.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,604},{255,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,294}}</string>
				<key>sourceSize</key>
				<string>{255,294}</string>
			</dict>

			<key>icon_mem.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,882},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,22}}</string>
				<key>sourceSize</key>
				<string>{30,22}</string>
			</dict>

			<key>icon_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,906},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,12}}</string>
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>

			<key>icon_remove.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,272},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>icon_roy.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,303},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>icon_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,882},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>

			<key>icon_top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1518,438},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>

			<key>icon_top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,272},{24,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,29}}</string>
				<key>sourceSize</key>
				<string>{24,29}</string>
			</dict>

			<key>icon_top3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1518,473},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{24,32}</string>
			</dict>

			<key>icon_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,882},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>

			<key>icon_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,906},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,12}}</string>
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>

			<key>img_countdownbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,132},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>img_detail_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,272},{40,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,29}}</string>
				<key>sourceSize</key>
				<string>{40,29}</string>
			</dict>

			<key>img_dia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,604},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>img_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,639},{517,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{517,119}}</string>
				<key>sourceSize</key>
				<string>{517,119}</string>
			</dict>

			<key>img_gate_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,764},{191,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,46}}</string>
				<key>sourceSize</key>
				<string>{191,46}</string>
			</dict>

			<key>img_kim.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,899},{246,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{246,113}}</string>
				<key>sourceSize</key>
				<string>{246,113}</string>
			</dict>

			<key>img_minipoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{620,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{620,120}}</string>
				<key>sourceSize</key>
				<string>{620,120}</string>
			</dict>

			<key>img_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,519},{70,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,33}}</string>
				<key>sourceSize</key>
				<string>{70,33}</string>
			</dict>

			<key>img_spin_times.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1004},{47,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,18}}</string>
				<key>sourceSize</key>
				<string>{47,18}</string>
			</dict>

			<key>img_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,712},{110,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,75}}</string>
				<key>sourceSize</key>
				<string>{110,75}</string>
			</dict>

			<key>img_vinh_danh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,595},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,28}}</string>
				<key>sourceSize</key>
				<string>{23,28}</string>
			</dict>

			<key>img_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,584},{127,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,84}}</string>
				<key>sourceSize</key>
				<string>{127,84}</string>
			</dict>

			<key>input.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,848},{274,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,57}}</string>
				<key>sourceSize</key>
				<string>{274,57}</string>
			</dict>

			<key>item_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,553},{70,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,10},{70,88}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,0},{76,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,10},{76,88}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,438},{68,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,7},{68,88}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>item_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,669},{75,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,6},{75,88}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>item_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,918},{84,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,11},{84,88}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>item_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,920},{80,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{80,87}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>item_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,132},{90,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,8},{90,88}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>item_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,831},{83,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{83,88}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1016},{29,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,1}}</string>
				<key>sourceSize</key>
				<string>{29,1}</string>
			</dict>

			<key>note_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,848},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>note_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,89},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{42,42}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>num1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,190},{15,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,139}}</string>
				<key>sourceSize</key>
				<string>{15,139}</string>
			</dict>

			<key>num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,463},{8,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,138}}</string>
				<key>sourceSize</key>
				<string>{8,138}</string>
			</dict>

			<key>o_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,906},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,15}}</string>
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>

			<key>o_normal_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,272},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>pop_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{775,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{775,180}}</string>
				<key>sourceSize</key>
				<string>{775,180}</string>
			</dict>

			<key>sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,991},{53,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,32}}</string>
				<key>sourceSize</key>
				<string>{53,32}</string>
			</dict>

			<key>sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,303},{64,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,33}}</string>
				<key>sourceSize</key>
				<string>{64,33}</string>
			</dict>

			<key>table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{592,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{592,176}}</string>
				<key>sourceSize</key>
				<string>{592,176}</string>
			</dict>

			<key>text_bigWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,922},{304,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{304,93}}</string>
				<key>sourceSize</key>
				<string>{304,93}</string>
			</dict>

			<key>text_nohu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,514},{165,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,86}}</string>
				<key>sourceSize</key>
				<string>{165,86}</string>
			</dict>

			<key>thu.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,811},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,32}}</string>
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>

			<key>thung.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,991},{81,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,32}}</string>
				<key>sourceSize</key>
				<string>{81,32}</string>
			</dict>

			<key>thungPhaSanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,848},{208,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,33}}</string>
				<key>sourceSize</key>
				<string>{208,33}</string>
			</dict>

			<key>title_VQMM.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,303},{209,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,38}}</string>
				<key>sourceSize</key>
				<string>{209,38}</string>
			</dict>

			<key>title_VQV.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,811},{145,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,36}}</string>
				<key>sourceSize</key>
				<string>{145,36}</string>
			</dict>

			<key>titlle_minibar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,519},{517,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{517,119}}</string>
				<key>sourceSize</key>
				<string>{517,119}</string>
			</dict>

			<key>trucX.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,759},{500,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{500,4}}</string>
				<key>sourceSize</key>
				<string>{500,4}</string>
			</dict>

			<key>trucY.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,463},{6,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,153}}</string>
				<key>sourceSize</key>
				<string>{6,153}</string>
			</dict>

			<key>tuQuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1358,988},{88,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,35}}</string>
				<key>sourceSize</key>
				<string>{88,35}</string>
			</dict>

			<key>txt_taixiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,906},{251,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,97}}</string>
				<key>sourceSize</key>
				<string>{251,97}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>minigameAtlas.png</string>
			</dict>
		</dict>
</plist>