<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,78},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,707},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>10_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,941},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,863},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>11_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,78},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,390},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>12_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,941},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,312},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>13_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,548},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,785},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>14_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,390},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,234},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>15_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1376,0},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,0},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>16_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,234},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,156},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>17_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,546},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,312},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>18_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,390},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,707},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>19_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,876},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>1_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,785},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,156},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,234},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>20_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,624},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>2_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,156},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,714},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>3_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,702},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1376,78},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>4_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,468},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,234},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>5_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,636},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,470},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>6_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,798},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,156},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>7_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,0},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,312},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>8_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,0},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,863},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>9_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,78},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>

			<key>line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{320,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,26},{320,67}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,313},{265,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,137},{265,156}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,798},{265,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,143},{265,156}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{295,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,28},{295,161}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{295,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,136},{295,161}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,795},{269,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,35},{269,161}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,795},{269,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,143},{269,161}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,313},{268,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,25},{268,160}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,795},{269,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,133},{269,161}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,636},{266,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,30},{266,161}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,474},{268,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,138},{268,161}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,68},{320,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,129},{320,67}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,470},{244,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,52},{244,236}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{312,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,239},{312,63}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,200},{270,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,5},{270,312}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,0},{270,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,5},{270,312}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,0},{265,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,28},{265,155}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,524},{291,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,22},{291,270}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,524},{291,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,22},{291,270}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>line_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,0},{265,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,28},{265,155}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>minibarAtlas.png</string>
			</dict>
		</dict>
</plist>