<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>L01.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1587},{885,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,176},{885,74}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1530},{891,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,46},{891,56}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1976},{888,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,350},{888,68}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,927},{894,413}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{894,413}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1587},{890,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,61},{890,388}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,356},{894,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,62},{894,213}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1341},{893,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,230},{893,188}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{894,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,62},{894,356}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L09.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1662},{884,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,62},{884,356}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{894,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,61},{894,355}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>line1.png</string>
			</dict>
		</dict>
</plist>