<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>L11.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1122},{886,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,64},{886,355}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1122},{891,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,3},{891,247}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1370},{891,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,230},{891,188}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1559},{890,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,46},{890,205}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1765},{889,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,229},{889,221}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,717},{892,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,61},{892,214}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,932},{892,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,230},{892,189}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L18.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1559},{888,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{146,62},{888,358}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,358},{892,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,60},{892,358}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

			<key>L20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{892,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,61},{892,357}}</string>
				<key>sourceSize</key>
				<string>{1040,456}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>line2.png</string>
			</dict>
		</dict>
</plist>