<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>emoticon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,0},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,255},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,182},{102,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,84}}</string>
				<key>sourceSize</key>
				<string>{102,84}</string>
			</dict>

			<key>emoticon_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,0},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,85},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,345},{84,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,89}}</string>
				<key>sourceSize</key>
				<string>{84,89}</string>
			</dict>

			<key>emoticon_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,255},{84,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,89}}</string>
				<key>sourceSize</key>
				<string>{84,89}</string>
			</dict>

			<key>emoticon_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,170},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,95},{105,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,86}}</string>
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>

			<key>emoticon_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,357},{100,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,84}}</string>
				<key>sourceSize</key>
				<string>{100,84}</string>
			</dict>

			<key>emoticon_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,267},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,89}}</string>
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>

			<key>emoticon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,95},{86,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,92}}</string>
				<key>sourceSize</key>
				<string>{86,92}</string>
			</dict>

			<key>emoticon_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,359},{85,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,97}}</string>
				<key>sourceSize</key>
				<string>{85,97}</string>
			</dict>

			<key>emoticon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,267},{97,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,91}}</string>
				<key>sourceSize</key>
				<string>{97,91}</string>
			</dict>

			<key>emoticon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,359},{90,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,88}}</string>
				<key>sourceSize</key>
				<string>{90,88}</string>
			</dict>

			<key>emoticon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,85},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,340},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,170},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>emoticon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{109,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,94}}</string>
				<key>sourceSize</key>
				<string>{109,94}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>emoticon.png</string>
			</dict>
		</dict>
</plist>