<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>L11.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1517},{869,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,75},{869,354}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1517},{870,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,10},{870,251}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L13.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1151},{864,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,243},{864,189}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,943},{884,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,54},{884,207}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L15.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,588},{862,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,243},{862,228}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{895,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,75},{895,232}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1769},{867,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,243},{867,186}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1151},{871,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,64},{871,365}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{884,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,75},{884,354}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{888,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,75},{888,354}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>line2.png</string>
			</dict>
		</dict>
</plist>