<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>L01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1783},{880,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,184},{880,86}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,943},{895,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,54},{895,86}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1870},{875,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,346},{875,86}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L04.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,1428},{881,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,10},{881,419}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1030},{894,397}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,75},{894,397}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{906,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,75},{906,232}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L07.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1848},{878,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,243},{878,186}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1428},{882,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,75},{882,354}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{895,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,75},{895,354}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

			<key>L10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{899,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,75},{899,354}}</string>
				<key>sourceSize</key>
				<string>{1100,504}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>line1.png</string>
			</dict>
		</dict>
</plist>